* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #1A1A1A;
    --secondary: #F38703;
    --white: #fff;
    --background-percentual: #ddd;
    --text: #555;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.navbar i {
    display: none;
}

.menu__navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.menu__navbar li {
    margin-right: 2.5rem; 
    font-weight: 600;
}

.menu__navbar li a {
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
}

.menu__navbar li a:hover {
    color: var(--secondary);
}

.section {
    padding: 1.5rem;
}

.section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
}

.section__page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.title__info {
    display: flex;
    flex-direction: column;
}

.title__info h1 {
    font-size: 2.5rem;
}

.subtitle__page {
    color: var(--secondary);
    font-weight: 700;
    text-transform: uppercase;
}

.underline {
    color: var(--secondary);
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--secondary);
}

.text__info {
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 1.8rem;
    width: 80%;
}

.img__info {
    width: 50%;
    height: auto;
}

.btn__page {
    background-color: var(--primary);
    color: var(--white);
    padding: 12px;
    border: none;
    width: 200px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.8rem;
    cursor: pointer;
}

button i {
    margin-left: 10px;
}

.btn__page i {
    margin-right: 10px;
}

.btn__page {
    margin-bottom: 1.8rem;
}

button:hover {
    background-color: var(--text);
    transition: all 0.5s ease-in-out;
}

.topics {
    display: flex;
    justify-content: space-between;
}

.topics__topic  {
    width: 250px;
}

.topics__topic i {
    color: var(--secondary);
    font-size: 1.8rem;
}

.title__topic {
    text-transform: uppercase;
}

.text__topic {
    color: var(--text);
    font-size: 1.3rem;
    margin-top: 1.8rem;
}

.img__timeline, .img__privacy {
    width: 40%;
    height: auto;
}

.title__timeline {
    font-size: 1.3rem;
}

.title {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid var(--secondary);
    padding: 5px;
    background-color: transparent;
    color: var(--secondary);
}

.percentual {
    background-color: var(--background-percentual);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info__percentual {
    padding: 2.2rem;
}

.title__percentual {
    font-size: 3rem;
    font-weight: 500;
}

.text__percentual {
    padding-left: 0;
    color: var(--text);
    font-size: 1rem;
}

.clients, .info__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text__clients {
    font-weight: 500;
    font-size: 1.2rem;
}

.title__clients {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--secondary);
}

.img__clients {
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin-top: 10px; 
}

.img__clients img {
    width: auto;
    height: 30px;
}

footer {
    margin: 10px 0 30px;
}

.icones__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icones__footer i {
    font-size: 1.4rem;
    margin-right: 30px;
}

.icones__footer i:last-child {
    margin-right: 0;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }

    .section__page {
        justify-content: center;
        flex-wrap: wrap;
    }

    .section__page img {
        display: none;
    }

    .menu__navbar {
        display: none;
    }

    .navbar i {
        display: block;
    }

    .navbar img {
        display: none;
    }
}

@media screen and (max-width: 500px) and (min-width: 300px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .topics {
        font-size: 0.8rem;
    }

    .topics span {
        font-size: 0.8rem;
    }

    .info__percentual{
        padding: 1rem;
    }

    .title__percentual {
        font-size: 2rem;
    }

    .img__clients {
        gap: 30px;
    }
}

@media (max-width: 280px) {
    .topics, .percentual {
       display: flex;
       flex-direction: column;
    }

    .topics {
        gap: 15px;
    }

    .img__clients {
        display: none;
    }
}